/* ==UserStyle==
@name        Distraction Free YouTube CSS
@description This is your new file, start writing code
@match      *://*.youtube.com/*
@version     0.2
@updateURL   https://raw.githubusercontent.com/MaxDilling/distractionfreeyoutube/main/blocker.css
==/UserStyle== */

ytd-compact-radio-renderer {
    display: none !important;
}

#primary .ytd-rich-grid-renderer, ytm-browse {
    display: none !important;
}

.ytd-item-section-renderer > ytd-shelf-renderer:nth-child(2) ~ ytd-shelf-renderer {
    display: none !important;
}

ytd-compact-video-renderer:nth-child(6) ~ ytd-compact-video-renderer,
ytm-video-with-context-renderer:nth-child(5) ~ ytm-video-with-context-renderer {
    visibility: hidden !important;
}
